#my-name {
  font-size: 60px;
  padding-top: 140px;
}

#title-container {
  padding-top: 70px;
  margin-left: 8vw;
}

.subtitle {
  margin: 10px;
  color: var(--gray) !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px var(--white);
}

/* ANIMATIONS */
#my-name {
  animation: fadeInLeft;
  animation-duration: 2s;
}

#my-sub {
  animation: fadeInRight;
  animation-duration: 2s;
  font-weight: 300;
}

@media only screen and (max-width: 390px) {
  #my-name {
    font-size: 36px;
  }

  .subtitle {
    font-size: 12px;
  }
}

@media only screen and (max-width: 769px) {
  #my-name {
    font-size: 48px;
    padding-top: 10px;
  }

  #title-container {
    padding-top: 20px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  #title-container {
    margin-left: 6vw;
  }
}

@media only screen and (min-width: 460px) {
  .subtitle {
    font-weight: 100;
  }
}

@media only screen and (min-width: 560px) {
  #title-container {
    padding-left: 30%;
  }
}

@media only screen and (min-width: 769px) {
  #title-container {
    padding-top: 100px;
    /* padding-left: 50%; */
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .subtitle {
    font-size: x-large;
  }
}
