/* selected tab */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white;
}
/* non-selected tab */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: black;
}
/* selected tab indicator */
.css-1aquho2-MuiTabs-indicator {
  background-color: white;
}
