#about-me-container {
  margin-bottom: 10%;
  margin-left: 8vw;
  padding-left: 0%;
  word-spacing: 0.1rem;
}

.about-me-desc {
  font-weight: 400;
  text-shadow: 0.5px 0.5px 0px var(--white);
}

#me-pic {
  width: 20%;
  border-radius: 100%;
  margin-right: 0;
}

@media only screen and (min-width: 769px) {
  #about-me-container {
    margin-top: 20%;
    width: 75%;
  }
}

@media only screen and (max-width: 769px) {
  #about-me-container {
    margin-bottom: 10%;
    margin-top: 100%;
    margin-left: 0;
    word-spacing: 0.1rem;
  }

  .about-me-desc {
    font-size: 12px;
  }

  #me-pic {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #about-me-container {
    margin-left: 7vw;
  }
  #me-pic {
    margin-right: 0;
  }
}
