#skills-img {
  background-image: url(../../assets/images/background/skills-page.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.uk-card-footer {
  border-top: none !important;
}