:root {
  --white: white;
  --pale-gray: #e4e4e4;
  --light-gray: #cac8c8;
  --gray: gray;
  --accent: #b182ba;
  --dark-gray: #5e5c61;
  --bg-gray: #ececec;
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--white);
}
body {
  font-weight: 300;
  color: var(--gray);
  font-size: 0.85rem;
}

*::selection {
  background-color: rgb(177, 130, 186, 0.5);
}
*::-moz-selection {
  background-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif !important;
  color: var(--dark-gray) !important;
}
